body {
	background-color: #f7f7f7;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}

.top-header img {
	align-content: center;
	margin-left: 40%;
}

.photo {
	border: 1px solid #505050;
	
	border-radius: 50%;
	width: 20%;
	align-content: center;
	
}

#title {
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	text-decoration:underline;
}

a {
	text-decoration: none;
	color: #505050;
}

#title, .subtitle, .post-title {
	color: #505050;
}

.post-title {
	font-size: 16px;
	font-style: italic; 
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background-color: white;
	padding: 15px;
	border: 3px solid #505050;
	margin-bottom: 15px;
	border-radius: 5px;
}

.post-content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: center;
}

.post-image {
	margin-bottom: 15px;
	width: 100%;
}

.contact-list {
	list-style-type: none;
	margin: 0;
	padding-left: 15px;
}

.contact-list li a {
	text-decoration: none;
}